body {
   margin: 0 auto;
   padding: 0;
   background-color: rgb(44, 44, 44);
   width: calc(100% - 400px);
   height: 150vh;
}

.popup-escondido{
   display: none;
}

.logo {
   position: relative;
   width: 60px;
   height: 70px;
   left: 80px;
   top: 50px;
}

h1 {
   position: relative;
   color: white;
   left: 200px;
   top: -32px;
   font-size: large;
}

h2 {
   color: white;
   position: relative;
   left: 200px;
   top: -50px;
   font-size: large;
}

p {
   color: white;
   position: relative;
   left: 120px;
}

.menu ul {
   background-color: #3FA14C;
   overflow: hidden;
   text-align: center;
   list-style-type: none;
   margin: 0;
   padding: 10px 20px;
   display: flex;
   justify-content: center;
}

.menu li {
   margin: 0 10px;
}

.menu a {
   font-size: 20px;
   color: white;
   padding: 10px 20px;
   text-decoration: none;
}

.menu a:hover {
   background-color: #31753a;
}

/* Estilização do SVG (Não substituir ao commitar*/

#container-mapa{
   text-align: center;
   padding: 2rem;
}

.municipio{
   fill: #4d4d4d;
   stroke: #ffffff;
   stroke-width: 1px;
   stroke-linejoin: round;
}


.destaque{
   fill: #3b9146;
   stroke: white;
   stroke-width: 1px;
   stroke-linejoin: round;
}

.destaque:hover{
   fill: #2a6432;
   cursor: pointer;
}

.popup {
   position: absolute;
   width: 340px;
   height: 560px;
   padding: 5px;
   background-color: rgb(54, 62, 78);
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   border-radius: 5%;
   margin-bottom: 15px;
   z-index: 1;
   overflow-y: auto;
   overflow-x: hidden;
}

.popup img {
   width: 320px;
   height: 180px;
   border-radius: 2%;
   position: relative;
   left: -30px;
}

.popup h3 {
   font-size: 1.5em;
   margin: 10px 0;
   color: white;
   text-align: center;
}

.popup p {
   position: relative;
   font-size: 17px;
   color: white;
   left: 3px;
   padding: 0rem;
}

.num_alunos{
   align-items: center;
}

footer{
   position: relative;
   padding-bottom: 100px;
}
